.DS_Store
*/.DS_Store

*/UserInterfaceState.xcuserstate
LightningGame/LightningGame.xcworkspace/xcuserdata/fanqi.xcuserdatad/UserInterfaceState.xcuserstate

LightningGame.xcworkspace/xcuserdata/fanqi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

LGAPIURLConfig.h
*/LGAPIURLConfig.h

LGAPIErrorCode.h
*/LGAPIErrorCode.h
